#Accueil h2{
	color: #800000;
	font-family: 'Lobster', cursive;
	font-size: 32px;
	margin-left: auto;
	margin-right: auto;
	width: 395px;
}

#Accueil h1{
	margin: auto;
}


#presentation_foie_gras{
	background-image: url('../images/presentation.jpg');
	width: 970px;
	height: 480px;
	margin-top: 50px;
	margin-bottom:80px;
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
	border: 1px solid #800000;
	-webkit-box-shadow: -2px 3px 4px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    -2px 3px 4px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         -2px 3px 4px 0px rgba(50, 50, 50, 0.75);
}

#presentation_foie_gras p{
	margin: 20px 0 20px 0;
	font-weight: bold;
}

#presentation_foie_gras #caracteristiqueFG{
	position: absolute;
	margin-left: 200px;
}


#Accueil #icon_saveur{
	width: 32px;
	height: 40px;	
}

#Accueil #icon_certification{
	width: 100px;
	height: 55px;
	position: relative;
	top: 5px;
}

#Accueil #prix_balotine{
	font-weight: bold;
	font-size: 30px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #800000;
	margin-left: auto;
	margin-right: auto;
	margin-top: 330px;
	width: 255px;
}

.unFoieGras{
	display: inline-block;
	margin: 30px;
	padding: 10px;
	width: 235px;
	height: 250px;
	-webkit-border-top-left-radius: 10;
	-moz-border-radius-topleft: 10;
	border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10;
	-moz-border-radius-bottomright: 10;
	border-bottom-right-radius: 10px;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.75);
}

.unFoieGras h4{
	text-align: center;
	margin: auto;
}

.unFoieGras:hover{
	-webkit-box-shadow: 3px 3px 5px 0px rgba(128, 0, 0, 0.75);
	-moz-box-shadow:    3px 3px 5px 0px rgba(128, 0, 0, 0.75);
	box-shadow:         3px 3px 5px 0px rgba(128, 0, 0, 0.75);
}

#lesSaveurs .top_left_corner_decoration{
	width: 150px;
	height: 150px;
	position: absolute;
	display: inline-block;
	margin-left: -20px;
}


#lesSaveurs p{
	margin: 40px 0;
}

#lesSaveurs #prixCog, #lesSaveurs #prixArm, #lesSaveurs #prixAil{
	text-align: center;
	font-weight: bold;
}

#Accueil .button{
	position: relative;
    top: 25px;
}

#buttonAil, #buttonCog, #buttonArm{
	left: 30px;
}

#alertAddPanier, #alertAddPanierError{
	width: 350px;
	height: 215px;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.75);
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	border-color: #800000;	
	border-style: groove;
	border-width: 5px;
	position: fixed;
	top : 30%;
	left : 40%;
	background-image: url(../images/background_alert.bmp);
	text-align: center;
}

#alertAddPanier p, #alertAddPanierError p{
	margin: 25px 10px 10px 10px;
}

#alertAddPanier .button{
	display: block;
	background: #cab890;
	background-image: -webkit-linear-gradient(top, #cab890, #9f8f6c);
	background-image: -moz-linear-gradient(top, #cab890, #9f8f6c);
	background-image: -ms-linear-gradient(top, #cab890, #9f8f6c);
	background-image: -o-linear-gradient(top, #cab890, #9f8f6c);
	background-image: linear-gradient(to bottom, #cab890, #9f8f6c);
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	top:0;
}

#alertAddPanier .button:hover{
	background: #decaa0;
	background-image: -webkit-linear-gradient(top, #decaa0, #baa77e);
	background-image: -moz-linear-gradient(top, #decaa0, #baa77e);
	background-image: -ms-linear-gradient(top, #decaa0, #baa77e);
	background-image: -o-linear-gradient(top, #decaa0, #baa77e);
	background-image: linear-gradient(to bottom, #decaa0, #baa77e);
}

#valide{
	margin-bottom: 5px;
}

#Accueil .croix{
	float: right;
}

#Accueil #alertMessageError{
	margin-top: 50px;
}