.page{
	margin: auto;
	width: 964px;
	padding: 0 30px 200px 30px;
	background-image: url(../images/page.jpg);	
	background-repeat: repeat;
	font-family: verdana;
}


h1{
	position: relative;
	margin: auto;
	padding-top: 10px;
	width: 400px;
	color: #800000;
	right: 283px;
	font-size: 28px;
	font-family: 'Lobster', cursive;
}

h3{
	margin: 50px 0 30px 0;
	color: #A43420;
}