#commande ul li{
	padding-right: 20px;
	padding-left: 10px;
	display: inline-block;
	border-right: 1px solid #800000;
	color: #a43420;
	font-weight: bold;
}

#commande ul li:last-child{
	border-right: none;
}

#commande #totalInfo{
	font-size: 12px;
	font-style: italic;
	margin-top: 70px;
	margin-left: 25px;
}


#commande ul{
	margin: 80px 0 30px 0;
	padding: 20px;
	list-style-type: none;
	width: auto;
	height: auto;
	border-bottom: 2px solid #800000;
	border-top: 2px solid #800000; 
}

.numberEtp {
	height: 10px;
	width:10px;
	padding: 5px 7px;
    margin-right: 8px;
	margin-left: 10px;
    background: #a43420;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-weight: bold;
    font-size: 0.8em;
    color: white;		
}

.numberEtp:first-child{
	margin-left: 90px;
}

#totalPanierTableau, #totalPanierTableauFP{
	float: right;
	font-weight: bold;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 30px;
	padding: 10px;
	border: 3px solid black;
	margin-right: 125px;
	margin-top: 10px;
}

.contener{
	border: 2px solid white;
	height: 520px;
}

#commande .tableauPanier{
	left: 30px;
	top: 40px;
	position: relative;
	width: 600px;
		
}	

#commande .tableauPanier tr td:last-child{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	width: auto;
}

#commande .button{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 150px;
}

#buttonValidPanier{
	margin-top: 130px;
}

#etape_coord #buttonValidForm{
	margin-top: 10px;
}


#etape_coord  input{
	margin: 10px 10px 10px 10px;
}

#etape_coord  label{
	margin-top: 10px;
}

#etape_coord form{
	margin: 10px auto 40px auto;
	display: block;
	width: 750px;
}

#etape_coord legend{
	color: #a43420;
	font-size: 14px;
	font-style; italic;
	font-weight: bold;
}

#etape_coord #champsOb{
	font-size: 12px;
}

#etape_coord label{
	display: block;
	float: left;
	width: 250px;
}

.ui-autocomplete { 
	height: 150px;
	width: 100px;
	overflow-y: scroll; 
	overflow-x: hidden;
}

.ui-menu-item{
	font-size: 14px;
}

.erreur{
	font-size: 14px;
	color: red;
	margin-left: 10px;
}

#etape_pmnt h3{
	position: relative;
	margin-left: 25px;
}

#etape_pmnt .button{
	margin-top: 130px;
}

#etape_cmd .button{
	width: 106px;
	margin-top: 140px;
	display: inline-block;
}

#etape_cmd #buttonValidCommande{
	margin-left: 270px;
	
}

#etape_cmd #buttonRetourCoord{
	margin-left: 60px;
	
}

#alertFormError{
		width: 350px;
	height: 215px;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.75);
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	border-color: #800000;	
	border-style: groove;
	border-width: 5px;
	position: fixed;
	top : 30%;
	left : 40%;
	background-image: url(../images/background_alert.bmp);
	text-align: center;
}

#alertFormError p{
	margin-top: 50px;
}

#alertFormError .croix{
	float: right;
}

#alertFormError .button{
	position: relative;
	top: 50px;
}