#footer{
	position: absolute;
	
	float: bottom; 
	width: 100%;
	background-image: url(../images/fond_footer.jpg);
	border-top: 5px solid #A8371C;  
	height: 50px;
}
#footer p{
	margin: auto;
	padding-top: 15px;
	display: block;
	width: auto;
	text-align: center;
	color: #F7714F;
}