html{
    background-size: 100%;
}

body{
	margin: auto;
	width: 100%;
	background-image: url(../images/body.jpg);
}


#header{
	width: 100%;
	display: block;
	background-image: url(../images/fondHeader.bmp);
	border-bottom: 6px solid #A8371C;
}

a{
	color: black;
}

a:hover{
	color: #5B0000;
}

#titre{
	display: block;
    margin: auto;
	height: 200px;
	width: 1024px;
}

#div_panier{
	margin: auto;
	width: 1024px;
	height:0;
}


#div_panier2{
	position: relative;
	bottom:230px;
	margin: 15px 20px 0px 0px;
	padding: 10px 10px 15px 10px;
	float: right;
	width: 260px;
	height:auto;
	display: block;
	border: 1px solid black;
	-webkit-box-shadow: 7px 7px 6px 0px black;
	-moz-box-shadow: 7px 7px 6px 0px black;
	box-shadow: 7px 7px 6px 0px black;
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
	background-image: url(../images/fond_panier.bmp);
}

#div_panier2 img{
	position: relative;
	display: inline-block;
	top: 5px;
	margin-right:10px;
}

#linkPanier{
	text-decoration: none;
}

#div_panier h2{
	display: inline-block;
	color: #F7714F;
	text-shadow: 3px 2px 2px black;
}

#contenuPanier{
	background-color: #7F3D3A;
	background-image: url(../images/fond_contentPanier.bmp);
	padding: 5px;
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
	
}

#lienPanier{
	float: right;
	font-style: italic;
	font-size: 14px;
}

#logoPanier{
	margin: auto;
	margin-right: 10px;
}

#menu{
	position: relative;
	margin: auto;
	width: 1024px;
	height: 20px;
	background-image: url(../images/fond_menu.bmp);
	background-repeat: no-repeat;
}

#menu ul{
	position: relative;
	margin: auto;
	padding: 0;
	float: right;
	left:265px;
	height : 25px;
	list-style-type : none;
}

#menu ul li{
	position: relative;
	display : inline;
	padding : 0 0.5em;
	float: right;
	background: #454343;
	background-image: -moz-linear-gradient(top, #050505, #454343);
	background-image: -ms-linear-gradient(top, #050505, #454343);
	background-image: -o-linear-gradient(top, #050505, #454343);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#050505), to(#454343));
	background-image: -webkit-linear-gradient(top, #050505, #454343);
	background-image: linear-gradient(top, #050505, #454343);	
	font-family: Arial;
	font-size: 16px;
	text-shadow: 3px 2px 2px black;
	height: 35px;
	font-weight: bold;
	border-top: 6px solid #A8371C;
	color: #F7714F;
	padding-top: 15px;
}

#menu ul li:hover{
	cursor: pointer;
	background: #636063;
	background-image: -webkit-linear-gradient(top, #2b2b2b, #636063);
	background-image: -moz-linear-gradient(top, #2b2b2b, #636063);
	background-image: -ms-linear-gradient(top, #2b2b2b, #636063);
	background-image: -o-linear-gradient(top, #2b2b2b, #636063);
	background-image: linear-gradient(to bottom, #2b2b2b, #636063);
}

#menu ul li:last-child{
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
}

#menu ul li:first-child{
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
}

#menu a{
	position: relative;
	text-decoration: none;
	color: #F7714F;
	top: 10px;
}

#menu a:visited{
	text-decoration: none;
	color: #F7714F;
}


.button {
  background: #916a51;
  background-image: -webkit-linear-gradient(top, #916a51, #693b1c);
  background-image: -moz-linear-gradient(top, #916a51, #693b1c);
  background-image: -ms-linear-gradient(top, #916a51, #693b1c);
  background-image: -o-linear-gradient(top, #916a51, #693b1c);
  background-image: linear-gradient(to bottom, #916a51, #693b1c);
  -webkit-box-shadow: 0px 2px 4px #666666;
  -moz-box-shadow: 0px 2px 4px #666666;
  box-shadow: 0px 2px 4px #666666;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  color: #000000;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  border: 2px outset white;
}

.button:hover {
  background: #ad7d6d;
  background-image: -webkit-linear-gradient(top, #ad7d6d, #825b51);
  background-image: -moz-linear-gradient(top, #ad7d6d, #825b51);
  background-image: -ms-linear-gradient(top, #ad7d6d, #825b51);
  background-image: -o-linear-gradient(top, #ad7d6d, #825b51);
  background-image: linear-gradient(to bottom, #ad7d6d, #825b51);
  text-decoration: none;
  cursor: pointer;
}

.croix{
	display: block;
	margin: auto;
	width: 30px;
	height: 30px;
}

.croix:hover{
	cursor: pointer;
}

.tableauPanier{
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 40px;
	background-image: url(../images/background_tab_panier.bmp);
}

.tableauPanier tr td{
	border: 1px solid black;
	text-align: center;
	padding: 10px 20px;
}

.tableauPanier tr th{
	padding: 10px 20px;
}

.tableauPanier tr td:last-child{
	border: none;
	width: auto;
}

.tableauPanier tr td:first-child, .tableauPanier tr td:nth-child(2), .tableauPanier tr td:nth-child(3), .tableauPanier tr td:nth-child(4){
	border-right: none;
	border-left: none;
}

.tableauPanier tr td:nth-child(4){
	border-left: none;
}
