#quisuisje img{
	display: block;
	margin-top: 50px;
	margin-left: 430px;
    margin-right: auto;
	
}

#quisuisje #portrait{
	width: 150px;
    height: 160px;
	-webkit-border-radius:90px;
    -moz-border-radius:90px;
    border-radius:90px;
	-webkit-box-shadow: -12px 14px 18px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: -12px 14px 18px -8px rgba(0,0,0,0.75);
	box-shadow: -12px 14px 18px -8px rgba(0,0,0,0.75);
}

#quisuisje p{
	width: 750px;
	padding: 20;
	line-height : 30px;
	text-align: justify;
	margin-left: auto;
    margin-right: auto;
}

#quisuisje p #bordureleft{
	position: relative;
	right: 490px;

}

#quisuisje p #bordureright{
	position: relative;
	left: 295px;
	bottom: 40px;

}

#quisuisje h3{
    clear: both;
}