#totalPanierTableau{
	float: right;
	font-weight: bold;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 30px;
	padding: 10px;
	border: 3px solid black;
	margin-right: 125px;
}

#Panier .button{
	display: block;
	margin: 150px auto 0 auto;
	width: 140px;
}

#Panier p{
	font-size: 12px;
	font-style: italic;
	margin-bottom: 30px;
}


#moins, #plus{
	width: 20px;
	height: 20px;
	margin: 0 10px;
	position: relative;
	top: 5px;
}

#moins:hover, #plus:hover{
	cursor: pointer;
}